<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="fhir.codesystem.local" value="https://lnk.cgmh.org.tw"/>
		<add key="fhir.codesystem.global" value="https://www.cgmh.org.tw"/>
		
		<!--<add key="fhir.server" value="http://10.31.155.47:11180/fhir"/>-->
		<!--<add key="fhir.server" value="http://172.18.0.9:10003/fhir" />-->
		<add key="fhir.server" value="http://localhost:11180/fhir" />
		<!--<add key="fhir.token.server" value="http://172.18.0.12:8080/realms/mitw/protocol/openid-connect/token"/>
		<add key="fhir.token.client.id" value="fhir" />
		<add key="fhir.token.client.secret" value="BUbZcF7CcZoJJya1tu0s6A4mxcnDFzut" />-->
	</appSettings>
</configuration>